@charset "UTF-8";
@font-face {
  font-family: CirceRounded;
  font-display: swap;
  src: url("../fonts/CirceRounded-Light.woff2") format("woff2"), url("../fonts/CirceRounded-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: CirceRounded;
  font-display: swap;
  src: url("../fonts/CirceRounded-Regular.woff2") format("woff2"), url("../fonts/CirceRounded-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #fff;
  line-height: 1;
  font-family: "CirceRounded";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "CirceRounded";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: #242424;
}
.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 70.625rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[data-fullscreen] {
  min-height: 100vh;
}
.touch [data-fullscreen] {
  min-height: calc(var(--vh, 1vh) * 100);
}
@media (max-width: 48em) {
  .touch [data-fullscreen] {
    transition: height 0.2s;
  }
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 300;
}
@media (min-width: 72.5em) {
  .title {
    margin-bottom: 3.75rem;
  }
}
@media (min-width: 20em) and (max-width: 72.5em) {
  .title {
    margin-bottom: calc(3.125rem + 0.625 * (100vw - 20rem) / 52.5);
  }
}
@media (max-width: 20em) {
  .title {
    margin-bottom: 3.125rem;
  }
}

.subtitle {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.25;
}

.button {
  text-transform: uppercase;
  min-height: 4.1875rem;
  padding: 0 2.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #f8d072;
  border: 3px solid #f8d072;
  border-radius: 50px;
}
@media (any-hover: hover) {
  .button {
    transition: all 0.3s ease 0s;
  }
  .button:hover {
    background-color: #f8d072;
    color: #fff;
  }
}
@media (max-width: 30em) {
  .button {
    min-height: 3.125rem;
    padding: 0 1.25rem;
    font-size: 0.875rem;
  }
}

.button-green {
  color: #43bc61;
  border-color: #43bc61;
}
@media (any-hover: hover) {
  .button-green {
    transition: all 0.3s ease 0s;
  }
  .button-green:hover {
    background-color: #43bc61;
  }
}

@media (min-width: 48em) {
  .padding {
    padding-top: 5rem;
  }
}
@media (min-width: 20em) and (max-width: 48em) {
  .padding {
    padding-top: calc(3.125rem + 1.875 * (100vw - 20rem) / 28);
  }
}
@media (max-width: 20em) {
  .padding {
    padding-top: 3.125rem;
  }
}
@media (min-width: 48em) {
  .padding {
    padding-bottom: 5rem;
  }
}
@media (min-width: 20em) and (max-width: 48em) {
  .padding {
    padding-bottom: calc(3.125rem + 1.875 * (100vw - 20rem) / 28);
  }
}
@media (max-width: 20em) {
  .padding {
    padding-bottom: 3.125rem;
  }
}

.card {
  position: relative;
  background-color: #242424;
  padding: 40px;
}
.card__icon {
  position: absolute;
  top: -20px;
  left: -20px;
  width: 60px;
  height: 60px;
}
.card__icon img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: contain;
}
@media (max-width: 48em) {
  .card__icon {
    top: -10px;
    left: -10px;
    width: 40px;
    height: 40px;
  }
}
.card__title {
  text-align: center;
  font-weight: 300;
  margin-bottom: 20px;
}
@media (min-width: 48em) {
  .card__title {
    font-size: 2rem;
  }
}
@media (min-width: 20em) and (max-width: 48em) {
  .card__title {
    font-size: calc(1.75rem + 0.25 * (100vw - 20rem) / 28);
  }
}
@media (max-width: 20em) {
  .card__title {
    font-size: 1.75rem;
  }
}
.card__text {
  font-weight: 300;
  font-size: 24px;
  line-height: 31px;
}
@media (min-width: 48em) {
  .card__text {
    font-size: 1.5rem;
  }
}
@media (min-width: 20em) and (max-width: 48em) {
  .card__text {
    font-size: calc(1.125rem + 0.375 * (100vw - 20rem) / 28);
  }
}
@media (max-width: 20em) {
  .card__text {
    font-size: 1.125rem;
  }
}

.header__body {
  display: flex;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 30px;
}
@media (max-width: 48em) {
  .header__body {
    padding-top: 30px;
    flex-direction: column-reverse;
    gap: 3.75rem;
  }
}
.header__logo {
  flex: 1 1 auto;
  min-height: 3.75rem;
  position: relative;
}
.header__logo img {
  position: absolute;
  max-width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: contain;
}
@media (max-width: 48em) {
  .header__logo {
    align-self: start;
    width: 100%;
    max-width: 23.125rem;
    flex: 1 1 60px;
  }
}
.header__links {
  display: flex;
  column-gap: 2.5rem;
}
.header__link {
  width: 40px;
  height: 40px;
  display: inline-block;
  position: relative;
}
.header__link img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: contain;
}
@media (any-hover: hover) {
  .header__link {
    transition: all 0.7s ease 0s;
  }
  .header__link:hover {
    transform: rotate(360deg);
  }
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
		}
		&::before {
			top: 0px;
		}
		&::after {
			bottom: 0px;
		}
		span {
			top: calc(50% - 1px);
		}
		.menu-open & {
			span {
				transform: scale(0);
			}
			&::before {
				transform: rotate(-45deg);
				top: calc(50% - 1px);
			}
			&::after {
				transform: rotate(45deg);
				bottom: calc(50% - 1px);
			}
		}
	}
}
*/
.footer__body {
  display: flex;
  gap: 2.5rem;
  font-weight: 300;
  font-size: 0.9375rem;
}
@media (max-width: 48em) {
  .footer__body {
    flex-direction: column-reverse;
  }
}
.footer__rights {
  flex: 1 0 300px;
}
@media (max-width: 48em) {
  .footer__rights {
    flex: 0 0 auto;
  }
}
.footer__logo {
  margin-bottom: 40px;
  position: relative;
  min-height: 3.125rem;
}
.footer__logo img {
  position: absolute;
  max-width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: contain;
}
.footer__bottom p:not(:last-child) {
  margin-bottom: 20px;
}
.footer__text {
  line-height: 1.3333333333;
}

.intro {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.intro__background {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.intro__background img {
  object-fit: cover;
  display: block;
  width: 100%;
  height: 100%;
}
.intro__background::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #000;
  opacity: 0.5;
}
.intro__body {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1.25rem;
}
.intro__title {
  margin-bottom: 0;
}
@media (min-width: 30em) {
  .intro__title {
    font-size: 4rem;
  }
}
@media (min-width: 20em) and (max-width: 30em) {
  .intro__title {
    font-size: calc(1.875rem + 2.125 * (100vw - 20rem) / 10);
  }
}
@media (max-width: 20em) {
  .intro__title {
    font-size: 1.875rem;
  }
}
@media (max-width: 48em) {
  .intro__title {
    text-align: left;
  }
}
.intro__subtitle {
  max-width: 850px;
  margin: 0 auto;
}
@media (min-width: 48em) {
  .intro__subtitle {
    font-size: 2rem;
  }
}
@media (min-width: 23.4375em) and (max-width: 48em) {
  .intro__subtitle {
    font-size: calc(1.5rem + 0.5 * (100vw - 23.4375rem) / 24.5625);
  }
}
@media (max-width: 23.4375em) {
  .intro__subtitle {
    font-size: 1.5rem;
  }
}
.intro__image {
  position: relative;
  min-height: 37.5rem;
}
@media (min-width: 72.5em) {
  .intro__image {
    min-height: 37.5rem;
  }
}
@media (min-width: 20em) and (max-width: 72.5em) {
  .intro__image {
    min-height: calc(15.625rem + 21.875 * (100vw - 20rem) / 52.5);
  }
}
@media (max-width: 20em) {
  .intro__image {
    min-height: 15.625rem;
  }
}
.intro__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: contain;
}
@media (max-width: 48em) {
  .intro__image {
    margin-bottom: 1.875rem;
  }
}

.buttons-intro {
  background-color: #000;
  opacity: 0.8;
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
}
.buttons-intro__body {
  padding: 2.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 3rem;
}

.steps {
  background-color: #4a256f;
}
.steps__container {
  max-width: 1400px;
}
.steps__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 3.75rem;
  row-gap: 1.875rem;
}
.steps__card {
  flex: 0 1 400px;
  display: flex;
  align-items: center;
  background-color: #401d63;
}
@media (max-width: 48em) {
  .steps__card {
    flex: 1 1 auto;
  }
}

.benefits__body {
  display: flex;
  gap: 4.375rem;
}
@media (max-width: 48em) {
  .benefits__body {
    flex-direction: column-reverse;
  }
}
.benefits__image {
  position: relative;
  flex: 1 1 40%;
}
@media (max-width: 48em) {
  .benefits__image {
    min-height: 25rem;
  }
}
.benefits__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: contain;
}

.list-benefits {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.list-benefits__item {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.25rem;
}
.list-benefits__item::before {
  display: block;
  flex: 0 0 30px;
  height: 30px;
  content: "";
  background-image: url("../img/icons/check.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.about {
  background-color: #151515;
}
.about__title {
  margin-bottom: 80px;
}
.about__body {
  display: flex;
  gap: 7.5rem;
}
@media (min-width: 72.5em) {
  .about__body {
    gap: 7.5rem;
  }
}
@media (min-width: 20em) and (max-width: 72.5em) {
  .about__body {
    gap: calc(2.5rem + 5 * (100vw - 20rem) / 52.5);
  }
}
@media (max-width: 20em) {
  .about__body {
    gap: 2.5rem;
  }
}
.about__image {
  position: relative;
  flex: 1 1 60%;
}
@media (max-width: 48em) {
  .about__image {
    min-height: 25rem;
  }
}
.about__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: contain;
}
@media (max-width: 48em) {
  .about__image {
    display: none;
  }
}
.about__content {
  flex: 1 1 60%;
}
.about__cards {
  display: flex;
  flex-direction: column;
  gap: 3.75rem;
}
.about__card {
  padding: 30px;
}
.about__card .card__text {
  font-size: 1.25rem;
}

.description {
  padding-bottom: 0;
}
.description__title {
  margin-bottom: 10px;
}
@media (min-width: 48em) {
  .description__title {
    font-size: 3rem;
  }
}
@media (min-width: 20em) and (max-width: 48em) {
  .description__title {
    font-size: calc(2rem + 1 * (100vw - 20rem) / 28);
  }
}
@media (max-width: 20em) {
  .description__title {
    font-size: 2rem;
  }
}
.description__subtitle {
  text-align: left;
  margin: 40px 0;
}
@media (max-width: 48em) {
  .description__subtitle {
    margin: 50px 0;
  }
}
@media (min-width: 48em) {
  .description__subtitle {
    font-size: 2rem;
  }
}
@media (min-width: 20em) and (max-width: 48em) {
  .description__subtitle {
    font-size: calc(1.5rem + 0.5 * (100vw - 20rem) / 28);
  }
}
@media (max-width: 20em) {
  .description__subtitle {
    font-size: 1.5rem;
  }
}
.description__body {
  position: relative;
}
@media (min-width: 72.5em) {
  .description__body {
    height: 37.5rem;
  }
}
@media (min-width: 20em) and (max-width: 72.5em) {
  .description__body {
    height: calc(21.25rem + 16.25 * (100vw - 20rem) / 52.5);
  }
}
@media (max-width: 20em) {
  .description__body {
    height: 21.25rem;
  }
}
.description__body picture,
.description__body img {
  position: absolute;
  width: 100%;
  min-height: 100%;
  bottom: 0;
  left: 0;
  object-fit: cover;
}

.news {
  position: relative;
  z-index: 5;
}
@media (max-width: 48em) {
  .news__container {
    padding: 90px 0;
  }
}
.news__background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.news__background img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
.news__background::before {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 3;
  display: block;
  content: "";
  background: rgba(18, 8, 28, 0.9);
}
.news__links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2.1875rem;
}
.news__link {
  background-color: #000;
  padding: 10px 20px;
  font-weight: 300;
}
@media (min-width: 48em) {
  .news__link {
    font-size: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 48em) {
  .news__link {
    font-size: calc(1.125rem + 0.125 * (100vw - 20rem) / 28);
  }
}
@media (max-width: 20em) {
  .news__link {
    font-size: 1.125rem;
  }
}
@media (any-hover: hover) {
  .news__link {
    transition: all 0.3s ease 0s;
  }
  .news__link:hover {
    background-color: #fff;
    color: #000;
  }
}
.news__body {
  margin-bottom: 3.75rem;
}

.logo-news {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  margin: 0 auto;
  max-width: 380px;
  background-color: #000;
  border-radius: 20px;
  padding: 20px 30px;
}
@media (any-hover: hover) {
  .logo-news {
    transition: all 0.3s ease 0s;
  }
  .logo-news:hover {
    background-color: #fff;
    color: #000;
  }
}
.logo-news__image {
  position: relative;
  height: 70px;
  flex: 0 0 70px;
}
.logo-news__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  border-radius: 50%;
}
.logo-news__text {
  font-weight: 300;
}
.logo-news__title {
  font-size: 1.375rem;
  margin-bottom: 5px;
}
@media (min-width: 48em) {
  .logo-news__link {
    font-size: 1rem;
  }
}
@media (min-width: 20em) and (max-width: 48em) {
  .logo-news__link {
    font-size: calc(0.75rem + 0.25 * (100vw - 20rem) / 28);
  }
}
@media (max-width: 20em) {
  .logo-news__link {
    font-size: 0.75rem;
  }
}
